
body {
    height: 100%;
    width: 100%;
}
.chat-body{ 
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
    /* flex: 1 1 0%; */
    flex: 0 0 auto;
    height: 1100px;
}

.root{
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    width: 1px;
    min-width: 100%;
    height: 100%;
    background-color: #ff00bb;
    overflow: hidden;
}

.chat-footer{
    position: relative;
    display: flex;
    max-height: 100%;
    flex-direction: column;
    background-color: var(--ysf-color-fore);
    color: var(--ysf-color-on-fore);
    padding-bottom: env(safe-area-inset-bottom); 
    flex: 0 0 auto;
}